/* Table */
.table-centered {
   margin: 0px 40px;
}
.table-head-text {
   margin-bottom: 50px;
   margin-top: -50px;
   font-size: 21px;
   color: #2d48b3;
}
.table-ship {
   position: relative;
   border-spacing: 0px;
   background: white;
}
.disabled::after {
   position: absolute;
   background: rgba(255, 255, 255, 0.5);
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   z-index: 10;
   content: "";
}

/* Table cells */
.cell {
   position: relative;
   width: 40px;
   height: 40px;
}

.your-board .cell {
   border: 1.5px solid #69a2d9;
}
.your-board .table-ship {
   border: 3.5px solid #69a2d9;
}
.opponent-board .cell {
   border: 1.5px solid #96bdc4;
}
.opponent-board .table-ship {
   border: 3.5px solid #96bdc4;
}
.clickable {
   cursor: pointer;
}
.green {
   background: rgba(184, 255, 180, 0.8);
}

/* Markers */
.marker {
   position: absolute;
   font-size: 13px;
}
.marker-row {
   width: 20px;
   top: 12px;
   left: -35px;
   text-align: right;
}
.marker-col {
   width: 40px;
   top: -25px;
   text-align: center;
}
