.ship {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   border-right: 1px solid #b4b4ff;
   border-bottom: 1px solid #b4b4ff;
   cursor: pointer;
}
.ship-wrapper .ship {
   border: none;
}
.ship-destroyed {
   background: rgba(255, 122, 122, 0.1);
   border: 3px solid #ff7a7a;
   pointer-events: none;
}
.failed {
   background: rgba(255, 180, 180, 0.4);
   border: 3px solid #ffb4b4;
   animation-duration: 400ms;
   animation-name: failedTransition;
}

@keyframes failedTransition {
   0% {
      transform: translate(0px, 0px);
   }
   10% {
      transform: translate(-35px, -10px);
   }
   30% {
      transform: translate(25px, 8px);
   }
   50% {
      transform: translate(-15px, -6px);
   }
   70% {
      transform: translate(5px, 4px);
   }
   100% {
      transform: translate(0px, 0px);
   }
}

/* Variants of ship */
.ship-5-hor {
   width: 200px;
   height: 40px;
}
.ship-5-vert {
   width: 40px;
   height: 200px;
}
.ship-4-hor {
   width: 160px;
   height: 40px;
}
.ship-4-vert {
   width: 40px;
   height: 160px;
}
.ship-3-hor {
   width: 120px;
   height: 40px;
}
.ship-3-vert {
   width: 40px;
   height: 120px;
}
.ship-2-hor {
   width: 80px;
   height: 40px;
}
.ship-2-vert {
   width: 40px;
   height: 80px;
}
.ship-1-hor,
.ship-1-vert {
   width: 40px;
   height: 40px;
}
.ship {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
.your-board .virus-1 {
   background-image: url(../img/1x1-good-v2.png);
}
.your-board .virus-2 {
   background-image: url(../img/1x1-good-v2.png);
}
.your-board .virus-3 {
   background-image: url(../img/1x1-good-v2.png);
}
.your-board .virus-4 {
   background-image: url(../img/1x1-good-v2.png);
}
.your-board .virus-5 {
   background-image: url(../img/2x1-good-v2.png);
}
.your-board .virus-6 {
   background-image: url(../img/2x1-good-v2.png);
}
.your-board .virus-7 {
   background-image: url(../img/2x1-good-v2.png);
}
.your-board .virus-8 {
   background-image: url(../img/3x1-good-v2.png);
}
.your-board .virus-9 {
   background-image: url(../img/3x1-good-v2.png);
}
.your-board .virus-10 {
   background-image: url(../img/4x1-good-v2.png);
}

.your-board .virus-1.hor,
.ship-wrapper .virus-1 {
   background-image: url(../img/1x1-good-v2.png);
}
.your-board .virus-2.hor,
.ship-wrapper .virus-2 {
   background-image: url(../img/1x1-good-v2.png);
}
.your-board .virus-3.hor,
.ship-wrapper .virus-3 {
   background-image: url(../img/1x1-good-v2.png);
}
.your-board .virus-4.hor,
.ship-wrapper .virus-4 {
   background-image: url(../img/1x1-good-v2.png);
}
.your-board .virus-5.hor,
.ship-wrapper .virus-5 {
   background-image: url(../img/rotate/2x1-good-rot-v2.png);
}
.your-board .virus-6.hor,
.ship-wrapper .virus-6 {
   background-image: url(../img/rotate/2x1-good-rot-v2.png);
}
.your-board .virus-7.hor,
.ship-wrapper .virus-7 {
   background-image: url(../img/rotate/2x1-good-rot-v2.png);
}
.your-board .virus-8.hor,
.ship-wrapper .virus-8 {
   background-image: url(../img/rotate/3x1-good-rot-v2.png);
}
.your-board .virus-9.hor,
.ship-wrapper .virus-9 {
   background-image: url(../img/rotate/3x1-good-rot-v2.png);
}
.your-board .virus-10.hor,
.ship-wrapper .virus-10 {
   background-image: url(../img/rotate/4x1-good-rot-v2.png);
}

.opponent-board .virus-1 {
   background-image: url(../img/1x1-bad-v2.png);
}
.opponent-board .virus-2 {
   background-image: url(../img/1x1-bad-v2.png);
}
.opponent-board .virus-3 {
   background-image: url(../img/1x1-bad-v2.png);
}
.opponent-board .virus-4 {
   background-image: url(../img/1x1-bad-v2.png);
}
.opponent-board .virus-5 {
   background-image: url(../img/1x2-bad-v2.png);
}
.opponent-board .virus-6 {
   background-image: url(../img/1x2-bad-v2.png);
}
.opponent-board .virus-7 {
   background-image: url(../img/1x2-bad-v2.png);
}
.opponent-board .virus-8 {
   background-image: url(../img/1x3-bad-v2.png);
}
.opponent-board .virus-9 {
   background-image: url(../img/1x3-bad-v3.png);
}
.opponent-board .virus-10 {
   background-image: url(../img/1x4-bad-v2.png);
}
.opponent-board .virus-5.hor {
   background-image: url(../img/rotate/1x2-bad-rot-v2.png);
}
.opponent-board .virus-6.hor {
   background-image: url(../img/rotate/1x2-bad-rot-v2.png);
}
.opponent-board .virus-7.hor {
   background-image: url(../img/rotate/1x2-bad-rot-v2.png);
}
.opponent-board .virus-8.hor {
   background-image: url(../img/rotate/1x3-bad-rot-v2.png);
}
.opponent-board .virus-9.hor {
   background-image: url(../img/rotate/1x3-bad-rot-v2.png);
}
.opponent-board .virus-10.hor {
   background-image: url(../img/rotate/1x4-bad-rot-v2.png);
}

.ship-status-you.ship-0 {
   background-image: url(../img/1x1-good-v2.png);
}
.ship-status-you.ship-1 {
   background-image: url(../img/2x1-good-v2.png);
}
.ship-status-you.ship-2 {
   background-image: url(../img/3x1-good-v2.png);
}
.ship-status-you.ship-3 {
   background-image: url(../img/4x1-good-v2.png);
}
.ship-status-opp.ship-0 {
   background-image: url(../img/1x1-bad-v2.png);
}
.ship-status-opp.ship-1 {
   background-image: url(../img/1x2-bad-v2.png);
}
.ship-status-opp.ship-2 {
   background-image: url(../img/1x3-bad-v2.png);
}
.ship-status-opp.ship-3 {
   background-image: url(../img/1x4-bad-v2.png);
}
.ship-status-opp,
.ship-status-you {
   background-position: center;
   background-size: cover;
}
/* Destroyed ship cell */
.cell-red {
   position: absolute;
   z-index: 1;
   top: 0;
   left: 0;
   width: 41px;
   height: 41px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.cell-red::before,
.cell-red::after {
   position: absolute;
   content: "";
   width: 100%;
   height: 4px;
   background-color: #ff7a7a;
   border-radius: 10px;
}

.cell-red::before {
   transform: rotate(45deg);
}

.cell-red::after {
   transform: rotate(-45deg);
}

/* Missed shot and ship bounds */
.cell-missed,
.cell-bounds {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   width: 40px;
   height: 40px;
   background: rgba(236, 236, 236, 0.5);
}

.cell-circle {
   width: 15px;
   height: 15px;
   border-radius: 50%;
}

.your-board .cell-missed > .cell-circle {
   background: #2b449e;
}
.your-board .cell-bounds > .cell-circle {
   background: #2b449e;
}
.cell-missed > .cell-circle {
   background: rgba(13, 92, 0, 0.8);
}
.cell-bounds > .cell-circle {
   background: rgba(13, 92, 0, 0.8);
}

/* @media (pointer: coarse) {
   .shipList-container {
      display: none;
   }
}
@media screen and (orientation: portrait) {
   .page-holder {
      flex-direction: column;
   }
   .page-container {
      width: 720px;
      height: 1280px;
   }
   .table-centered {
      margin: 40px;
   }
   .ship-select {
      margin: 0;
   }
} */
