.default-button {
   outline: none;
   border: none;
   padding: 11px;

   color: white;
   background: #e83459;
   /* box-shadow: inset 0 -6px 0 #9e9ee6; */

   border-radius: 40px;
   font-size: 17px;
   letter-spacing: 1px;
   font-weight: bolder;

   cursor: pointer;

   width: 100%;
   margin-top: auto;
}

.default-button:hover {
   background: #f02951;
}
.default-button:active {
   padding-top: 18px;
   padding-bottom: 12px;
}

.disabled {
   pointer-events: none;
   opacity: 1;
}
